

</h1>User Profile<h1>


    <h3>You are welcome, {{user.username}}</h3>
    <h3><a href="{% url 'logout' %}" style="color: red">Logout</a></h3>
    <h2>Information about you</h2>
    <label>Username:</label><input value="{{ user.username }}" readonly placeholder="Not filled"><br>
    <label>Email:</label><input value="{{ user.email }}" readonly placeholder="Not filled"><br>
    <label>First name:</label><input value="{{ user.first_name }}" readonly placeholder="Not filled"><br>
    <label>Last name:</label><input value="{{ user.last_name }}" readonly placeholder="Not filled"><br>
    <label>Birthday:</label><input value="{{ profile.date_of_birth }}" readonly placeholder="Not filled"><br>
    <h4><a href="{% url 'edit_user_information' %}" style="color: red">Change Profile</a></h4>
